body {
	background-color: ivory;
	font-family: 'Arial Black', Gadget, sans-serif;
}
h1,
h2 {
	font-family: 'Arial Black', Gadget, sans-serif;
	background-color: grey;
	color: white;
	text-align: center;
	margin: -0.3em;
	margin-left: -0.6em;
	margin-right: -0.6em;
	padding: -0.3em;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9);
}
h3 {
	font-family: 'Arial Black', Gadget, sans-serif;
	background-color: grey;
	color: white;
	text-align: left;
	box-shadow: 10px 5px 6px rgb(100, 100, 100);
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9);
	padding-left: 1%;
}
p {
	font-family: 'Times New Roman', Times, serif;
	padding: 0 1em 1em;
}
p:first-line {
	text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
	font-weight: bold;
}
p:first-letter {
	color: black;
	font-family: 'Times New Roman', Times, serif;
	font-size: 3em;
	/* box-shadow: 10px 5px 6px rgb(100, 100, 100); */
	text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
	/* float: left; */
	line-height: 0.95em;
}
.error {
	color: red;
	background-color: #000;
	text-align: center;
}
.done {
	color: green;
	text-align: center;
}
.incomplete {
	color: red;
	text-align: center;
}
.all {
	color: black;
	text-align: left;
}
.user {
	color:aqua;
}
.main {
	flex-direction: row;
	flex-flow: row, nowrap;
}
.left {
	flex-direction: column;
	flex-flow: column;
}
.right {
	flex-direction: column;
	flex-flow: column;
}